.book-card {
  margin-top: 10px;
  margin-right: 10px;
}

.image {
  height: 60px;
  width: 15%;
  position: absolute;
  right: 25px;
}
.book-content {
  margin-top: 70px;
}
.content {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
