<mat-toolbar color="primary" class="header">
  <span class="nav-tool-items">
    <mat-icon style="cursor: pointer" (click)="sidenav.toggle()">menu</mat-icon>
  </span>
  <span class="title">{{title}}</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="side"
    [opened]="true"
    fixedInViewport="true"
    fixedTopGap=65
  >
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/search-book">
        <mat-icon>search</mat-icon>&nbsp; Search
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/cart">
        <mat-icon
          [matBadge]="cartCount"
          matBadgePosition="before"
          matBadeColor="primary"
          matBadgeSize="small"
          >add_shopping_cart</mat-icon
        >&nbsp; Cart
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/my-collections">
        <mat-icon
          [matBadge]="collectionCount"
          matBadgePosition="before"
          matBadeColor="primary"
          matBadgeSize="small"
          >collections</mat-icon
        >&nbsp; My Collection
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
